<div class="multicolumn-card">
  {%- if block.settings.column_link != blank -%}
  <a href="{{ block.settings.column_link }}">
  {%- endif -%}

  {%- if block.settings.image != blank -%}
    {% if section.settings.image_ratio == 'circle' %}
      {% assign spaced_image = true %}
    {% endif %}

    <div class="multicolumn-card__image-wrapper {% if spaced_image %} multicolumn-card-spacing{% endif %}">
      <div class="media media--transparent media--{{ section.settings.image_ratio }}"
        {% if section.settings.image_ratio == 'adapt' %}
          style="padding-bottom: {{ 1 | divided_by: highest_ratio | times: 100 }}%;"
        {% endif %}>
        <img
          srcset="{%- if block.settings.image.width >= 275 -%}{{ block.settings.image | img_url: '275x' }} 275w,{%- endif -%}
            {%- if block.settings.image.width >= 550 -%}{{ block.settings.image | img_url: '550x' }} 550w,{%- endif -%}
            {%- if block.settings.image.width >= 710 -%}{{ block.settings.image | img_url: '710x' }} 710w,{%- endif -%}
            {%- if block.settings.image.width >= 1420 -%}{{ block.settings.image | img_url: '1420x' }} 1420w,{%- endif -%}"
          src="{{ block.settings.image | img_url: '550x' }}"
          sizes="(min-width: 990px) {% if section.blocks.size <= 2 %}710px{% else %}550px{% endif %},
            (min-width: 750px) {% if section.blocks.size == 1 %}710px{% else %}550px{% endif %},
            calc(100vw - 30px)"
          alt="{{ block.settings.title }}"
          height="{{ block.settings.image.height }}"
          width="{{ block.settings.image.width }}"
          loading="lazy"
        >
      </div>
    </div>
  {%- endif -%}
  <div class="multicolumn-card__info">
    {%- if block.settings.title != blank -%}
      <h3 class="caption--secondary">{{ block.settings.title | escape }}</h3>
    {%- endif -%}
    {%- if block.settings.text != blank -%}
      <div class="rte">{{ block.settings.text }}</div>
    {%- endif -%}
  </div>

  {%- if block.settings.column_link != blank -%}
  </a>
  {%- endif -%}

  {%- if block.settings.column_link != blank -%}
    <a href="{{ block.settings.column_link }}" class="button button--secondary">See All {{ block.settings.title | escape }}</a>
  {%- endif -%}
</div>