{{ 'customer.css' | asset_url | stylesheet_tag }}

<div class="register-wrapper grid grid--gapless grid--1-col grid--2-col-tablet">
  <div class="register-form grid__item">
    <div class="customer register">
      <h4>
        {{ 'customer.register.title' | t }}
      </h4>
      <p>
        {{ 'customer.register.subtext' | t }}
      </p>
      {%- form 'create_customer', novalidate: 'novalidate' -%}
        {%- if form.errors -%}
          <h5 class="form__message" tabindex="-1" autofocus>
            <svg aria-hidden="true" focusable="false" role="presentation">
              <use href="#icon-error" />
            </svg>
            {{ 'templates.contact.form.error_heading' | t }}
          </h5>
          <ul> 
            {%- for field in form.errors -%}
              <li>
                {%- if field == 'form' -%}
                  {{ form.errors.messages[field] }}
                {%- else -%}
                  <a href="#RegisterForm-{{ field }}">
                    {{ form.errors.translated_fields[field] | capitalize }}
                    {{ form.errors.messages[field] }}
                  </a>
                {%- endif -%}
              </li>
            {%- endfor -%}
          </ul>
        {%- endif -%}
        <div class="field">
          <input
            type="text"
            name="customer[first_name]"
            id="RegisterForm-FirstName"
            {% if form.first_name %}value="{{ form.first_name }}"{% endif %}
            autocomplete="given-name"
            placeholder="{{ 'customer.register.first_name' | t }}"
          >
          <label for="RegisterForm-FirstName">
            {{ 'customer.register.first_name' | t }}
          </label>
        </div>
        <div class="field">
          <input
            type="text"
            name="customer[last_name]"
            id="RegisterForm-LastName"
            {% if form.last_name %}value="{{ form.last_name }}"{% endif %}
            autocomplete="family-name"
            placeholder="{{ 'customer.register.last_name' | t }}"
          >
          <label for="RegisterForm-LastName">
            {{ 'customer.register.last_name' | t }}
          </label>
        </div>
        <div class="field">      
          <input
            type="email"
            name="customer[email]"
            id="RegisterForm-email"
            {% if form.email %} value="{{ form.email }}"{% endif %}
            spellcheck="false"
            autocapitalize="off"
            autocomplete="email"
            aria-required="true"
            {% if form.errors contains 'email' %}
              aria-invalid="true"
              aria-describedby="RegisterForm-email-error"
            {% endif %}
            placeholder="{{ 'customer.register.email' | t }}"
          >
          <label for="RegisterForm-email">
            {{ 'customer.register.email' | t }}
          </label>
        </div>
        {%- if form.errors contains 'email' -%}
          <span id="RegisterForm-email-error" class="form__message">
            <svg aria-hidden="true" focusable="false" role="presentation">
              <use href="#icon-error" />
            </svg>
            {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.
          </span>
        {%- endif -%}
        <div class="field">     
          <input
            type="password"
            name="customer[password]"
            id="RegisterForm-password"
            aria-required="true"
            {% if form.errors contains 'password' %}
              aria-invalid="true"
              aria-describedby="RegisterForm-password-error"
            {% endif %}
            placeholder="{{ 'customer.register.password' | t }}"
          >
          <label for="RegisterForm-password">
            {{ 'customer.register.password' | t }}
          </label>
        </div>
        {%- if form.errors contains 'password' -%}
          <span id="RegisterForm-password-error" class="form__message">
            <svg aria-hidden="true" focusable="false" role="presentation">
              <use href="#icon-error" />
            </svg>
            {{ form.errors.translated_fields['password'] | capitalize }} {{ form.errors.messages['password'] }}.
          </span>
        {%- endif -%}
        <button class="button button--secondary">
          {{ 'customer.register.submit' | t }}
        </button>

        <p class="caption">
          {{ 'customer.register.have_account' | t }}
          <a href="{{ routes.account_register_url }}" class="button button--link">
            {{ 'customer.log_in' | t }}
          </a>
        </p>
      {%- endform -%}
    </div>
  </div>
  <div class="image-wrapper grid__item">
    {%- if settings.login_image != blank -%}
      <img srcset="{%- if settings.login_image.width >= 165 -%}{{ settings.login_image | img_url: '165x' }} 165w,{%- endif -%}
        {%- if settings.login_image.width >= 360 -%}{{ settings.login_image | img_url: '360x' }} 360w,{%- endif -%}
        {%- if settings.login_image.width >= 535 -%}{{ settings.login_image | img_url: '535x' }} 535w,{%- endif -%}
        {%- if settings.login_image.width >= 720 -%}{{ settings.login_image | img_url: '720x' }} 720w,{%- endif -%}
        {%- if settings.login_image.width >= 940 -%}{{ settings.login_image | img_url: '940x' }} 940w,{%- endif -%}
        {%- if settings.login_image.width >= 1070 -%}{{ settings.login_image | img_url: '1070x' }} 1070w{%- endif -%}"
        src="{{ settings.login_image | img_url: '533x' }}"
        sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
        alt="{{ settings.login_image.alt | escape }}"
        loading="lazy"
        width="{{ settings.login_image.width }}"
        height="{{ settings.login_image.height }}"
      >
    {%- else -%}
      {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
    {%- endif -%}
  </div>
</div>
