{{ 'section-collection-list.css' | asset_url | stylesheet_tag }}

{{ 'component-card.css' | asset_url | stylesheet_tag }}

<collection-list-component class="collection-list-wrapper">
  <div class="title-wrapper title-wrapper-with-link">
    <div class="collection-list__titles swiper-container"
      data-swiper-thumb-slider
      data-slides-per-view="auto"
      data-slides-speed="600"
      >

      <div class="slider-button-wrapper">
        <div data-slider-previous>{%- render 'icon-arrow-left' -%}</div>
        <div data-slider-next>{%- render 'icon-arrow' -%}</div>
      </div>

      <div class="swiper-wrapper">
        {%- for block in section.blocks -%}
          <div class="swiper-slide">
            <h2 class="collection-list__title utility">{{ block.settings.collection.title }}</h2>
          </div>
        {%- endfor -%}
      </div>
    </div>


    {%- if section.settings.show_view_all -%}
      <a href="{{ routes.collections_url }}" class="link underlined-link small-hide color-subdued">Shop Now</a>
    {%- endif -%}
  </div>

  <div class="collection-list swiper-container"
    data-swiper-slider
    data-slides-per-view="auto"
    data-slides-speed="600"
    data-slides-thumbs="collection-list-titles"
  >
    <div class="swiper-wrapper">
      {%- for block in section.blocks -%}
        <div class="collection-list__item swiper-slide" {{ block.shopify_attributes }}>
          {%- render 'collection-card' _section: section, _block: block, show_content: false -%}
        </div>
      {%- endfor -%}

      <div class="view-all-wrapper swiper-slide small-hide">
        {%- if section.settings.show_view_all -%}
          <a href="{{ routes.collections_url }}" class="button button--link">{{ 'sections.collection_list.view_all' | t }}</a>
        {%- endif -%}
      </div>
    </div>
  </div>

  {%- if section.settings.show_view_all -%}
    <div class="center medium-up-hide">
      <a href="{{ routes.collections_url }}" class="link underlined-link color-subdued mt-2">{{ 'sections.collection_list.view_all' | t }}</a>
    </div>
  {%- endif -%}
</collection-list-component>

{% schema %}
{
  "name": "t:sections.collection-list.name",
  "tag": "section",
  "class": "spaced-section collection-list-section",
  "max_blocks": 12,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Collections",
      "label": "t:sections.collection-list.settings.title.label"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.collection-list.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.collection-list.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.collection-list.settings.image_ratio.options__3.label"
        }
      ],
      "default": "square",
      "label": "t:sections.collection-list.settings.image_ratio.label",
      "info": "t:sections.collection-list.settings.image_ratio.info"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.collection-list.settings.color_scheme.options__1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.collection-list.settings.color_scheme.options__2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.collection-list.settings.color_scheme.options__3.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.collection-list.settings.color_scheme.options__4.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.collection-list.settings.color_scheme.options__5.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.collection-list.settings.color_scheme.label"
    },
    {
      "type": "checkbox",
      "id": "image_padding",
      "default": false,
      "label": "t:sections.collection-list.settings.image_padding.label"
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "default": false,
      "label": "t:sections.collection-list.settings.show_view_all.label"
    }
  ],
  "blocks": [
    {
      "type": "featured_collection",
      "name": "t:sections.collection-list.blocks.featured_collection.name",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.collection-list.blocks.featured_collection.settings.collection.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.collection-list.presets.name",
      "blocks": [
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        }
      ]
    }
  ]
}
{% endschema %}
